.Container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  font-size: 200%;
}

.SearchForm-button {  
    background: #7BA7AB;
    border-radius: 0 5px 5px 5px;
    background-image: url('../../PngImages/search.png');
    background-repeat: no-repeat;
    background-position: center;    
    background-size: 43%;
}

.SearchForm-button:hover {
  opacity: 1;
}

